{% extends "layout.html" %}

{% block content %}

<div class="row mb-4">
  <div class="col">
    <h2 class="mb-4">Módulo TF-IDF - Similitud de Cosenos</h2>
    {% for pregunta in resultados %}

    <div class="row">
      <div class="col-4">{{pregunta.0}}</div>
      <div class="col-4">{{pregunta.1}}</div>
    </div>

    {% endfor %}

  </div>
</div>
<hr>
<div class="row mt-5">
  <div class="col">

    <div class="card bg-dark text-light" style="width: 40rem;">
      <div class="card-body">
        <h2 class="card-title mb-5">Respuesta</h2>
        <p>{{respuesta.answer}}</p>
      </div>
    </div>
    <!-- <p>Prueba {{respuesta.test}}</p>
    <p>Lectura {{respuesta.reading}}</p>
    <p>Aplicación {{respuesta.application}}</p> -->
    <!-- <p>Texto {{respuesta.text}}</p> -->
    <br>
    <div class="card bg-dark text-light" style="width: 40rem;">
      <div class="card-body">
        <h2 class="card-title mb-5">PDF</h2>
        <embed src="{{respuesta.text}}" height="600px" width="560px">
      </div>
    </div>

    <!-- <h2 class="my-5">PDF</h2>
    <embed src="{{respuesta.text}}" height="600px" width="560px"> -->

    <br>
    <div class="card bg-dark text-light" style="width: 40rem;">
      <div class="card-body">
        <h2 class="card-title mb-5">Video</h2>
        <iframe width="560" height="315" src="{{respuesta.video}}" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <!-- <h2 class="my-5">VIDEO</h2>
    <iframe width="560" height="315" src="{{respuesta.video}}" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

    <!-- <p>Video {{respuesta.video}}</p> -->
    <!-- <p>Podcast {{respuesta.podcast}}</p>
    <p>Prezi {{respuesta.prezi}}</p>
    <p>Modelo{{respuesta.model}}</p> -->

  </div>
</div>


{% endblock %}